@import "./variables.scss";

// FONT SIZE CLASSES
.font-1rem {
    font-size: 1rem !important;
}
.font-0_9rem {
    font-size: 0.9rem !important;
}
.font-1_1rem {
    font-size: 1.1rem !important;
}

.mm-btn {
    color: $font-black;
    border: none;
    outline: none !important;
    margin: 0px auto;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: $card-white;
    border: 1px solid transparent;
    transition: all 0.3s;
    &:disabled {
        cursor: default;
        color: $grey !important;
        background-color: $card-white !important;
        border: 1px solid $card-white !important;
        &:hover {
            // background-color: $mm-orange !important;
            // border: 1px solid $mm-orange;
        }
    }
    &.primary {
        background-color: $mm-orange;
        &:hover {
            color: $white;
        }
    }
    &:hover {
        // background-color: $mm-orange !important;
        border: 1px solid $mm-orange;
    }
}
.mm-icon-btn {
    background-color: $mm-orange;
    border-radius: 50%;
    font-size: 1.6rem !important;
    color: $white;
    padding: 3px;
    &.secondary {
        font-size: 2rem !important;
        background-color: transparent;
        border: 1px solid $grey;
        color: $mm-orange;
    }
    &.square {
        border-radius: 5px;
    }
    &.disabled {
        cursor: default;
        color: $grey !important;
        background-color: $card-white !important;
        border: 1px solid $light-grey !important;
        &:hover {
            // background-color: $mm-orange !important;
            // border: 1px solid $mm-orange;
        }
    }
}
.ghost {
    background-color: transparent;
    color: $grey;
    border: 0px;
    padding: 0px;
    outline: none;
}

// styling input field
.MuiTextField-root,
.select-brand-control {
    .MuiFormLabel-root.Mui-focused {
        color: $mm-orange;
    }
    .MuiInput-root {
        &::after {
            border-color: $mm-orange;
        }
    }
}
.mm-select {
    &::after {
        border-color: $mm-orange !important;
    }
    .MuiSelect-select,
    input {
        background-color: $white !important;
    }
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: $grey;
    border-radius: 5px;
}
