// Primary Colors
$white: white;
$black: black;

// Custom Colors
$card-white: #fafafa;
$mm-orange: #fd9c31;
$mm-yellow: #fbd45f;
$light-grey: #ededed;
$dark-grey: #808080;
$grey: #c5c5c5;
$shadow-dark: #0007;
$white50: #ffffff80;
$white80: #ffffffcc;
$black50: #00000080;
$black40: #0006;
$font-black: #252525;
$veg-green: #229245;
$non-veg-red: #9a3618;
$danger-red: #f4000e;
