@import "../../../utility/variables.scss";

.menu-item-container {
    .dragger {
        cursor: move;
    }
    .item-image {
        // background-color: $grey;
        border: 1px solid $grey;
        img {
            object-fit: contain;
        }
    }
    .spice-detail {
        .MuiAvatar-root {
            .MuiAvatar-img {
                object-fit: contain;
            }
        }
    }
    .para-text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
